<h1><center>Topics</center></h1>
<table>
  <tr>
    <th>Name of the Topic</th>
  </tr>
<% @topic.each do |i| %>
    <tr>
    <td><%= link_to i.name,i %></td>
      <td><%= link_to 'Show',topic_posts_path(i) %></td>
      <td><%= link_to 'Edit',edit_topic_path(i) %></td>
      <td><%= link_to 'Delete',i,:data=>{:confirm=>'Are you sure to delete'},:method=>:delete %></td>
    </tr>

<% end %>
</table>
<%= link_to 'Add', new_topic_path %>