<%= form_for [@data,@edit] do |i| %>
  <p>
    <%= i.label :name %>
    <%= i.text_field :name %>
  </p>
  <p>
    <%= i.label :content %>
    <%= i.text_area :content %>
  </p>
  <p>
    <%= i.submit 'Update' %>
  </p>
<% end %>