<table>

  <tr>
    <th><%= 'Name of the post' %></th>
    <th><%= 'Content' %></th>
  </tr>

<% @post.each do |i| %>
  <tr>
    <td><%= i.name %></td>
    <td><%= i.content %></td>
    <td><%= link_to 'Update',edit_topic_post_path(@data,i) %></td>
    <td><%= link_to "Delete", [@data, i], :data =>{:confirm=>"Are you sure?"}, :method=> :delete %></td>
  </tr>
    <% end %>
</table>

<p><%= link_to 'Add post',new_topic_post_path %></p>