<%= form_with(model:[@data,@new]) do |i| %>
  <p>
    <%= i.label :name %>
    <%= i.text_field :name %>
  </p>
  <p>
    <%= i.label :content %>
    <%= i.text_field :content %>
  </p>

  <p><%= i.submit 'Added' %></p>
<% end %>